.git
.github
.nx
.vscode
.idea

node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
playwright-report
test-results

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
